html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family:   sans-serif; 
  min-height: 100%;
}
 .logos {
  height: 44px;
  margin-right: 2px;
  width: 100%;
  vertical-align: top;
}
.PageContainer
{
  margin-top: 20px;
}
 form{
   padding: 20px; 
 }
 form button, form h5{
   margin: 20px 0;
 }

 input[type=text]:not(.browser-default):focus:not([readonly]),
 input[type=email]:not(.browser-default):focus:not([readonly]),
 input[type=password]:not(.browser-default):focus:not([readonly]),
 textarea.materialize-textarea:focus:not([readonly]){
   border-color: #ec407a;
   box-shadow: none;
 }

.smartClock{
  padding-right:35%;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}